/* src/App.css */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: rgb(223, 247, 249);
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin: 10px 0px;
  margin-left: 80%;
  position: absolute;

  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 30px;
}

table,
th,
td {
  border: 3px solid #010101;
  color: black;
  background-color: #f1db5b;
  border-radius: 30px;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f6d414;
}

button {
  margin: 10px 5px;
  padding: 8px 12px;
  border: none;
  background-color: #6bacf2;
  color: rgb(9, 17, 251);
  cursor: pointer;
}
.prev {
  margin-left: 750px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.text{
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
}
.stat {
  background-color: #f1db5b;
  width: 300px;
  text-align: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 700px;
  margin-bottom: 100px;
  line-height: 40px;
  word-spacing: 5px;
}

nav {
  background-color: rgb(255, 255, 255);
  color: black;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 100%;
  margin-left: 700px;
}
h1 {
  text-align: center;
  margin-top: 85px;
  font-size: 35px;
}
